@font-face {
  font-family: 'akdidenz-bold';
  src: url('../../fonts/AkzidenzGrotesk-BoldExtended.otf');
}

@font-face {
  font-family: 'perpetua';
  src: url('../../fonts/pertili.ttf');
}

.gd-case-section {
  text-transform: uppercase;
  background-color: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 48px 0;

  @media(max-width: 767px) {
    padding: 24px 9px;
  }

  @media(min-width: 481px) {
    &:hover {
      background-color: black;
    }

    &:hover .gd-case-title {
      color: white;
    }
    &:hover .horizontal-line {
      color: white;
    }
    &:hover .gd-case-description {
      color: white;
    }
  }

  .gd-case-content-wrapper {
    margin: 0 auto;
    @media(min-width: 1024px) {
      width: 845px;
    }
    @media(min-width: 481px) and (max-width: 1023px) {
      width: 588px;
    }
    @media(max-width: 480px) {
      width: 337px;
    }
  }

  img {
    position: relative;
    bottom: 12px;
    margin-left: 7px;
    padding-right: 7px;
    width: 38px;
    @media(max-width: 768px) and (min-width: 481px) {
      bottom: 9px;
      width: 33px;
    }
    @media(max-width: 480px) {
      top: -2px;
      width: 23px;
    }
  }

  .gd-case-link {
    text-decoration: none;
    color: black;
  }

  .gd-case-title {
    font-family: 'akdidenz-bold';
    font-size: 42px;
    .amp {
      font-family: 'perpetua';
    }
    @media(max-width: 480px) {
      font-size: 18px;
      line-height: 22px;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      font-size: 34px;
      line-height: 38px;
    }
  }

  .horizontal-line {
    font-size: 3vw;
    font-weight: 100;
    padding: 0px 10px;
  }

  .gd-case-description {
    font-family: 'perpetua';
    font-size: 40px;
    line-height: 50px;
    @media(max-width: 480px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media(min-width: 481px) and (max-width: 768px) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
