@font-face {
  font-family: 'perpetua';
  src: url('../../fonts/pertili.ttf');
}

@font-face {
  font-family: 'akdidenz-reg';
  src: url('../../fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf');
}

@font-face {
  font-family: 'akdidenz-light';
  src: url('../../fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf');
}


.permission-check-form {
  .form-container {
    padding: 80px 32px 0;
    @media(max-width: 480px) {
      padding: 48px 24px 0;
    }

    .input-text {
      font-family: 'perpetua';
      text-transform: uppercase;
      font-size: 40px;
      line-height: 1.25;
      width: 845px;
      margin-bottom: 20px;
      line-height: 1.2;
      @media(min-width: 660px) and (max-width: 844px) {
        font-size: 32px;
        width: 659px;
      }
      @media(max-width: 660px) {
        font-size: 16px;
        line-height: 1.3;
        width: 327px;
      }
    }

    .input-container {
      display: flex;
      position: relative;
      @media(min-width: 795px) {
        height: 70px;
        width: 794px;
      }
      @media(min-width: 769px) and (max-width: 794px) {
        height: 70px;
        width: 80%;
      }
      @media(min-width: 660px) and (max-width: 768px) {
        height: 70px;
        width: 659px;
      }
      @media(max-width: 659px) {
        height: 40px;
        width: 329px;
      }
    }

    .password-input {
      &.akdidenz-light {
        font-family: 'akdidenz-light';
      }
      &.initial {
        font-family: 'akdidenz-reg';
      }
      padding: 12px;
      background-color: #fff4e1;
      border-style: none;
      @media(min-width: 795px) {
        height: 70px;
        width: 794px;
        font-size: 32px;
        line-height: 1.2;
        character: 0.4;
      }
      @media(min-width: 769px) and (max-width: 794px) {
        font-size: 32px;
        height: 70px;
        width: 95%;
      }
      @media(min-width: 660px) and (max-width: 768px) {
        font-size: 24px;
        height: 70px;
        width: 659px;
      }
      @media(max-width: 659px) {
        font-size: 16px;
        height: 40px;
        width: 329px;
      }
    }
    .password-input:focus {
      outline: none;
    }
    .password-input.error {
      border: 1px solid red;
    }
    .enter-icon {
      position: absolute;
      z-index: 1;
      right: 16px;
      top: 12px;
      @media(min-width: 1024px) {
        font-size: 40px;
      }
      @media(min-width: 660px) and (max-width: 1023px) {
        font-size: 32px;
      }
      @media(max-width: 659px) {
        font-size: 16px;
      }
    }

    .error-message {
      padding-top: 4px;
      font-family: 'akdidenz-light';
      font-size: 20px;
      color: red;
      @media(min-width: 1024px) {
        font-size: 24px;
      }
      @media(max-width: 480px) {
        font-size: 14px;
      }
    }
  }

  .nike-icon {
    background: url('../../assets/Nike_Logo.svg') no-repeat;
    margin-bottom: 12px;
    @media(min-width: 769px) {
      height: 39px;
      width: 113px;
    }
    @media(max-width: 768px) and (min-width: 481px) {
      width: 93px;
      height: 32px;
    }
    @media(max-width: 480px) {
      width: 30px;
      height: 10px;
    }
  }
}
